.container {
  max-width: 80%;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  box-shadow: 0 0 25px 10px rgb(173, 216, 230, 0.5);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-areas: "hd  hd  hd   hd   hd   hd   hd"
                       "nav nav main main main main main"
                       "ft  ft  ft   ft   ft   ft   ft";
}

.header {
  grid-area: hd;
  border-bottom: 2px solid rgba(77, 84, 88, 0.5);
}

.headerHeading1 {
  float: right;
  font-family: 'Indie Flower';
}

.nav {
  grid-area: nav;
}

.main {
  margin: 2rem;
  grid-area: main;
}

.footer {
  font: italic small-caps 16px/2 cursive;
  text-align: center;
  padding: 1rem;
  border-top: 2px solid rgba(77, 84, 88, 0.5);
  grid-area: ft;
}

.ul {
  list-style: none;
  padding: 0 1rem;
}

.navLi {
  padding: 10px 5px;
  font-family: 'Lilita One';
  border-left: 5px solid rgb(46, 177, 233);
}

.navLi:hover {
  border-left: 5px solid rgb(11, 49, 138);
}