.container {
  max-width: 80%;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
  border: 3px dotted darkcyan;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: "hd  hd  hd   hd   hd   hd   hd"
                       "nav nav main main main main main"
                       "ft  ft  ft   ft   ft   ft   ft";
}

.header {
  display: flex;
  align-items: center;
  border: 3px dotted darkcyan;
  grid-area: hd;
}

.nav {
  grid-area: nav;
  ;
}

.main {
  grid-area: main;
}

.footer {
  font: italic small-caps 16px/2 cursive;
  text-align: center;
  grid-area: ft;
}

.ul {
  list-style: none;
}

